.nav{
    margin-top: 19px;
    display: flex;
}

.nav__link{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-left: 32px;
    background-color: transparent;
    text-decoration: none;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.33;
    cursor: pointer;
    transition: all 0.4s ease-in;
}

.nav__link_color_white{
    color: #FFFFFF;
}

.nav__link_color_black{
    color: #1A1B22;
}

.nav__link:hover{
    opacity: 0.8;
}

.nav__link_type_auth{
    align-items: center;
    box-sizing: border-box;
    margin-bottom: 13px;
    padding: 0 17px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: auto;
    height: 48px;
    border: 1px solid #FFFFFF;
    border-radius: 100px;
}

.nav__link_type_active{
    padding: 0;
    padding-bottom: 20px;
    border-bottom: 3px solid #FFFFFF;
}

.nav__link_type_main{
    padding-bottom: 20px;
}

.nav__link_type_auth.nav__link_color_black{
    border: 1px solid #1A1B22;
}

.nav__link_type_active.nav__link_color_black{
    border-bottom: 3px solid #1A1B22;
}

.nav__link_type_main.nav__link_color_black{
    border-bottom: 3px solid #FFFFFF;
}

.nav__link_type_user_black::after{
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin-left: 6px;
    width: 24px;
    height: 24px;
    background: url('../../images/icons/logout.svg');
}

.nav__link_type_user_white::after{
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin-left: 6px;
    width: 24px;
    height: 24px;
    background: url('../../images/icons/logout-white.svg');
}

@media screen and (max-width: 768px) {
    .nav{
        margin-top: 14px;
    }

    .nav__link{
        font-size: 16px;
    }

    .nav__link_type_main{
        padding-bottom: 17px;
    }

    .nav__link_type_active{
        padding-bottom: 17px;
    }

    .nav__link_type_auth{
        height: 40px;
        margin-bottom: 12px;
        padding: 0 13px;
    }
}

@media screen and (max-width: 426px) {
    .nav{
        margin-top: 16px;
        display: none;
        border-top: 1px solid #C4C4C4;
    }
    .nav_mobile{
        box-sizing: border-box;
        padding: 0 16px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background: #1A1B22;
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
    }
    .nav__link{
        margin-left: 0;
        border-bottom: none;
        font-size: 18px;
        line-height: 3;
    }

    .nav__link_type_auth{
        margin-bottom: 24px;
        border-bottom: 1px solid #FFFFFF;
        height: 56px;
        width: 100%;
        text-align: center;
    }
}