.nav{
    margin-top: 19px;
}

.nav__link{
    margin-left: 32px;
    background-color: transparent;
    text-decoration: none;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.33;
    cursor: pointer;
    transition: all 0.4s ease-in;
}

.nav__link_color_white{
    color: #FFFFFF;
}

.nav__link_color_black{
    color: #1A1B22;
}

.nav__link:hover{
    opacity: 0.8;
}

.nav__link_type_auth{
    display: inline-block;
    margin-bottom: 13px;
    text-align: center;
    line-height: 48px;
    width: 176px;
    height: 48px;
    border: 1px solid #FFFFFF;
    border-radius: 100px;
}

.nav__link_type_active{
    padding: 0;
    padding-bottom: 25px;
    border-bottom: 3px solid #FFFFFF;
}

.nav__link_type_auth.nav__link_color_black{
    border: 1px solid #1A1B22;
}

.nav__link_type_active.nav__link_color_black{
    border-bottom: 3px solid #1A1B22;
}

.nav__link_type_user::after{
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin-left: 2px;
    width: 24px;
    height: 24px;
    background: url('../../images/icons/logout.svg');
}