.news{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    min-height: 282px;
    padding: 80px 0;
    background: #F5F6F7;
 
}

.wrapper-news{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news__group{
    display: none;
}

.news__group_active{
    display: flex;
    flex-direction: column;
}

.news__text-group{
    display: none;
}

.news__text-group_active{
    display: flex;
    max-width: 356px;
    flex-direction: column;
    align-items: center;
}

.news__text{
    margin: 0;
    color: #B6BCBF;
    text-align: center;
	font-family: 'Roboto', sans-serif;
    font-weight: 400;
	font-size: 18px;
	line-height: 1.33;
}

.news__bold-text{
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 26px;
    font-weight: normal;
    line-height: 1.15;
    color: #1A1B22;
}

.news__not-found-icon{
    width: 96px;
    height: 96px;
    background-image: url('../../images/icons/not-found-face.svg');
}


.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 16px;
}

.news__heading{
    margin: 0;
    margin-bottom: 64px;
    font-family: 'Roboto Slab', serif;
    font-size: 40px;
    font-weight: normal;
    line-height: 1.15;
    color: #1A1B22;
}

.news__button{
    align-self: center;
    margin-top: 64px;
    width: 288px;
    height: 64px;
    border: none;
    background: #FFFFFF;
    border-radius: 80px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.33;
    color: #1A1B22;
    cursor: pointer;
    transition: all 0.4s ease-in;
}

.news__button:hover{
    opacity: 0.9;
}

@media screen and (max-width: 1440px) {
    .news{
        padding: 40px 0;
    }
}

@media screen and (max-width: 900px) {
    .news__button{
        margin-top: 22px;
        width: 240px;
        height: 56px;
    }
    .news__heading{
        font-size: 30px;
        margin-bottom: 32px;
    }

    .cards{
        grid-gap: 8px;
    }
}

@media screen and (max-width: 767px) {
    .cards{
        grid-template-columns: repeat(auto-fit, 288px);
        row-gap: 10px;
    }

}

@media screen and (max-width: 669px) {
    .cards{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 426px) {
    .news{
        padding: 24px 0;
    }

    .news__heading{
        margin-bottom: 24px;
    }

    .news__button{
        width: 100%;
    }
}